{% extends 'base.html.twig' %}

{% block body %}
        <div class="container">
            <p><a href="{{ path('register') }}">Регистрация</a>/<a href="{{ path('auth') }}">Авторизация</a></p>
            <h1>Привествуем, Вас!</h1>
        </div>
{% endblock %}