{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div style="color:red">{{ error }}</div>
    {% endif %}
    {{ include('ClientType.html.twig', {'form': form}) }}
{% endblock %}